
.container {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.33) inset;
}

.main-logo a:hover .main-logo-link span{
    color: #dd5c1f;
}

.main-logo {
    width: 160px;
    float: left;
}

.milan-holidays:before{
    content: url("../images/logo.png");
    position: relative;
    left: -55px;
    top: 55px;
}

.main-logo a {
    position: relative;
    left: 220px;
    top: 15px;
    display: inline-block;
    text-decoration: none;
    color: #f5f6f7;
}

.milan-logo {
    display: block;
    font-size: 25pt;
    font-family: 'Verdana-Bold', sans-serif;
    color: rgba(255,255,255,255);
    text-align: left;
}

.milan-holidays {
    display: block;
    font-size: 14pt;
    font-family: 'Verdana-Bold', sans-serif;
    color: rgba(255,255,255,255);
    text-align: left;
}

.contact {
    float: right;
    font-family: 'Courier-Bold', sans-serif;
    font-size: 18pt;
    position: relative;
    right: 150px;
    top: 60px;
    color: #FFEFD5;
}

.email {
    display: block;
    color: #f5f6f7;
}

.phone {
    display: block;
    color: #f5f6f7;
    text-align: right;
}

.first-three-img {
    position: relative;
    top: 150px;
}

.img-link {
    width: 300px;
    float: left;
}

.img-link-two {
    width: 300px;
    float: left;
    position: relative;
    left: 77px;
}

.img-link-three {
    width: 300px;
    float: left;
    position: relative;
    left: 150px;
}

.shop-tour-span {
    color: #f5f6f7 ;
    position: absolute;
    top: 215px;
    left: 250px;
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
}

.sightseeing-tour-span {
    color: #f5f6f7 ;
    position: absolute;
    top: 215px;
    left: 80px;
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
}

.food-tour-span {
    color: #f5f6f7 ;
    position: absolute;
    top: 215px;
    left: 115px;
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
}

.second-three-img {
    position: relative;
    top: 220px;
    width: 100%;
    float: left;
}

.first-img-link {
    width: 300px;
    float: left;
    position: relative;
    left: 158.5px;
}

.second-img-link {
    width: 300px;
    float: left;
    position: relative;
    left: 236px;
}

.third-img-link {
    width: 300px;
    float: right;
    position: relative;
    right: 158.5px;
}

.night-life-span {
    color: #f5f6f7 ;
    position: absolute;
    top: 215px;
    left: 95px;
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
}

.architecture-tour-span {
    color: #f5f6f7 ;
    position: absolute;
    top: 215px;
    left: 80px;
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
}

.walk-tour-span {
    color: #f5f6f7 ;
    position: absolute;
    top: 215px;
    left: 95px;
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
}

.footer-copyright {
    width: 1366px;
    display: inline-block;
    float:left;
    position: relative;
    top: 320px;
}

.footer-copyright>.span-copyright {
    color: #f5f6f7 ;
    position: relative;
    left: 460px;
    font-size: 12pt;
    font-family: 'Courier-Bold', sans-serif;
}

a {
    text-decoration: none;
}

.second-roll-details {
    background-color: #f26522;
    width: 308px;
    height: 81px;
    position: absolute;
    top: 160px;
    display: none;
}

.first-three-img>.img-link:hover .second-roll-details {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 25;
}

.first-three-img>.img-link-two:hover .second-roll-details {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 25;
}

.first-three-img>.img-link-three:hover .second-roll-details {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 25;
}

.second-three-img>.first-img-link:hover .second-roll-details {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 25;
}

.second-three-img>.second-img-link:hover .second-roll-details {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 25;
}

.second-three-img>.third-img-link:hover .second-roll-details {
    display: block;
    position: absolute;
    top: 120px;
    z-index: 25;
}

.second-roll-details>.from-price {
    font-size: 10pt;
    font-family: 'Courier-Bold', sans-serif;
    color: #f5f6f7;
    display: block;
    position: relative;
    left: 15px;
    top: 20px;
}

.second-roll-details>.price-details {
    font-size: 20pt;
    font-family: 'Courier-Bold', sans-serif;
    color: #f5f6f7;
    display: block;
    position: relative;
    top: 20px;
    left: 15px;
}

.second-roll-details>.view-details {
    font-size: 14pt;
    font-family: 'Courier-Bold', sans-serif;
    color: #f5f6f7;
    text-align: right;
    display: inline-block;
    float: right;
    position: relative;
    right: 35px;
    bottom: 8px;
}

.second-roll-details>.view-details:after {
    content: '\203a';
    position: relative;
    left: 10px;
    font-size: 21px;
}

