
:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #141515;
}

.header {
    padding: 0.5em 1em;
}

.main-logo {
    background: url("../images/mobile_energym/image 7.png");
    width: 100%;
    height: 51px;
    background-repeat: no-repeat;
}

.menu {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    align-items: flex-end;
    margin: 0;
    font-size: 14pt;
}

.menu-toggle {
    position: absolute;
    top: -0.8em;
    right: 0.1em;
    border: 0;
    background-color: transparent;
    font-size: 3.2em;
    width: 1em;
    height: 1em;
    line-height: 0.3em;
    white-space: nowrap;
    text-indent: 5em;
    color: #bb6d07;
}

.menu-toggle::after {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    display: block;
    content: "\2261";
    text-indent: 0;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;

}

.nav-menu {
    margin: 0;
    padding: 0;
    background-color: grey;
    color: white;
}

.nav-menu li {
    list-style-type: none;
}

.nav-menu li + li {
    border-top: 1px solid white;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    padding: 0.7em 1em;
    font-weight: normal;
}

.main-image {
    background: url("../images/mobile_energym/9 1.png");
    background-size: 100%;
    height: 460px;
    margin-top: -1.4em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.gym-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gym {
    width: 70%;
    background-color: #141515;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 55px 0 0;
    padding: 10% 0;
}

.btn-gym {
    width: 35%;
    background-color: #141515;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    border: none;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 55px 0 0;
    padding: 3% 0;
}

.rectangle-box {
    display: flex;
    width: 100%;
    height: 65px;
}

.black-rectangle {
    width: 30%;
    background-color: #141515;
}

.pink-rectangle {
    width: 69.5%;
    background-color: #ed1260;
}

.content-box {
    padding: 25px 45px 25px 45px;
    color: white;
}

.content-text {
    font-size: 15pt;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.box-item {
    width: 85px;
    flex-basis: 50%;
}

.box-icon {
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    margin: 0 auto;
}

.box-icon img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.map-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.map-box {
    width: 100%;
    border: 5px solid #ed1260;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 6px;
}

.geolocation {
    width: 100%;
    height: 75%;
    padding: 5px 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.geolocation img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.geo-box {
    color: #ed1260;
    position: absolute;
}

.text-street {
    color: white;
}

.border-contacts {
    width: 100%;
    border: 5px solid #f38a03;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 6px;
}

.contacts-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contacts-text {
    font-family: Montserrat, Arial;
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 20pt;
    padding-bottom: 10px;
}

.invisible-text {
    display: none;
}

.footer-text {
    font-family: Montserrat, Arial;
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 18pt;
    padding: 10px;
}

.flex-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex-element i {
    font-size: 18pt;
    color: #f38a03;
}

@media (min-width:565px) {
    .gym span{
        font-size: 32pt;
    }
    .btn-gym,
    .content-text {
        font-size: 17pt;
    }
    .text-box,
    .text-street {
        font-size: 14pt;
    }
}

@media (min-width: 650px) {
    .main-image {
        height: 635px;
    }
    .border-contacts {
        padding: 45px;
    }
    .gym {
        width: 60%;
        margin: 55px 165px 0 0;
        padding: 8% 0;
    }
    .gym span {
        font-size: 28pt;
    }
    .btn-gym {
        font-size: 15pt;
        width: 30%;
        margin: 20px 155px 0 0;
        padding: 2.5% 0;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .menu-dropdown {
        display: flex;
        justify-content: center;
        bottom: 25px;
    }
    .main {
        margin: 0 10%;
    }
    .main-image {
        background: url("../images/desktop_energym/9 1.png");
        height: 513px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .gym-box {
        position: relative;
    }

    .gym {
        position: absolute;
        width: 327px;
        height: 141px;
        padding: 15px;
        left: 25px;
        top: 0;
    }

    .btn-gym {
        position: absolute;
        width: 200px;
        height: 55px;
        padding: 15px;
        top: 215px;
        left: 97px;
    }
    .main-logo {
        background: url("../images/desktop_energym/Лого.png");
        height: 85px;
        background-repeat: no-repeat;
    }
    .header {
        padding: 0.7em 1em;
    }
    .gym span {
        font-size: 28pt;
    }
    .nav-menu {
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 25px;
    }
    .nav-menu li {
        padding: 0 3%;
    }
    .nav-menu li + li {
        border: none;
    }
    .content-text {
        margin-bottom: 65px;
    }
    /*
    .rectangle-box {
        position: absolute;
        transform: rotate(90deg);
    }
     */
    .box-item {
        flex-basis: 33%;
    }
    .box-icon {
        padding: 5px;
    }
    .text-box {
        font-size: 12pt;
    }
    .map-box {
        width: 579px;
        margin: 30px 0 35px 0;
    }
    .border-contacts {
        border: none;
    }
    .contacts-box {
        flex-direction: column;
    }
    .flex-element-text {
        width: 100%;
        display: flex;
    }
    .flex-element {
        flex-direction: column;
        height: 150px;
        padding: 15px;
    }
    .invisible-text {
        display: block;
        color: white;
        font-size: 16pt;
        padding: 10px;
    }
    .contacts-text {
        padding-left: 140px;
    }
    .row-box {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .border-contacts {
        padding: 0;
    }
    .rectangle-box {
        display: none;
    }
    .content-text {
        position: relative;
        bottom: 95px;
    }
    .box {
        position: relative;
        bottom: 65px;
    }
}

@media (min-width: 950px) {
    .content-text {
        bottom: 50px;
    }
    .box {
        bottom: 25px;
    }
}

@media (min-width: 1100px) {
    .content-text {
        bottom: 5px;
    }
    .box {
        bottom: 5px;
    }
}

@media (min-width: 1200px) {
    .main {
        margin-top: 20px;
    }
    .box {
        position: inherit;
        bottom: 0;
    }
    .content-text {
        position: inherit;
        bottom: 0;
    }
    .rectangle-box {
        display: flex;
    }
}
